/* Import News Cycle Font */

@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
body,
html {
  font-family: 'News Cycle', sans-serif;
}

a {
  color: #BDC3C7;
}

a:focus,
a:hover {
  color: #D2D7D3;
}

.caption,
em {
  font-style: italic;
  display: none;
}
